<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav layout:fragment="header-contents" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SpringSample</a>
			</div>
			<form th:action="@{/logout}" method="post">
				<button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト</button>
			</form>
		</div>
	</nav>
</body>
</html>