<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width-device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<!-- JS -->
<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}" defer></script>
<title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
	<form action="/user/signup" method="post" class="form-signup mt-5">
		<h2 class="text-center" th:text="#{user.signup.title}"></h2>
		<!-- ユーザーID -->
		<div class="form-group">
			<label for="userId" th:text="#{userId}"></label>
			<input type="text" id="userId" class="form-control">
		</div>
		<!-- パスワード -->
		<div class="form-group">
			<label for="password" th:text="#{password}"></label>
			<input type="text" id="password" class="form-control">
		</div>
		<!-- ユーザー名 -->
		<div class="form-group">
			<label for="userName" th:text="#{userName}"></label>
			<input type="text" id="userName" class="form-control">
		</div>
		<!-- 誕生日 -->
		<div class="form-group">
			<label for="birthday" th:text="#{birthday}"></label>
			<input type="text" id="birthday" class="form-control" placeholder="YYY/MM/DD">
		</div>
		<!-- 年齢 -->
		<div class="form=group">
			<label for="age" th:text="#{age}"></label>
			<input type="text" id="age" class="form-control">
		</div>
		<!-- 性別 -->
		<div class="form-group　m-2">
			<label class="me-3" th:text="#{gender}"></label>
			<div th:each="item : ${genderMap}" class="form-check-inline">
				<input type="radio" class="form-check-input" th:value="${item.value}">
				<label class="form-check-label" th:text="${item.key}"></label>
			</div>
		</div>
		<!-- 登録ボタン -->
		<input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-4">
		<div class="text-center mt-2">
			<a th:href="@{/login}" th:text="#{link.login}"></a>
		</div>
	</form>
</body>
</html>