<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewpoit" content="width-device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bg-image.css}">
<!-- JS -->
<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}" defer></script>
<title>ログイン</title>
</head>
<body>
	<div class="d-flex justify-content-center align-items-top text-center mt-4">
		<div class="card col-4 bg-light rounded-4">
 			<div class="cart-body m-4">
				<form th:action="@{/login}" method="post">
					<h2>ログイン</h2>
					<!-- ユーザーID -->
					<div class="form-group mt-4">
						<input type="text" class="form-control" placeholder="ユーザーID" name="userId">
					</div>
					<!-- パスワード -->
					<div class="form-group mt-4 mb-2">
						<input type="password" class="form-control" placeholder="パスワード" name="password">
					</div>
					<input type="submit" value="ログイン" class="btn btn-primary mt-3  mb-2"><br>
						<a th:href="@{/user/signup}">新規登録はこちら</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>