<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper と xmlのマッピング -->
<mapper namespace="com.example.demo.user.repository.UserMapper">
    <!-- SQLを書く場所 -->
    <!-- ユーザー１件登録 -->
	<insert id="insertOne">
		INSERT INTO m_user(
			user_id,
			password,
			user_name,
			birthday,
			age,
			gender,
			department_id,
			role
		)
		VALUES (
			#{userId},
			#{password},
			#{userName},
			#{birthday},
			#{age},
			#{gender},
			#{departmentId},
			#{role}
		)
	</insert>
	<select id="findMany" resultType="MUser">
		SELECT * FROM m_user
	</select>
</mapper>
